[2013-03-12 22:55] kylef opened #1 "Persist config across module restarts"

[2013-04-07 15:13] dvessel opened #3 "`znc-buildmod palaver.cpp` fails to build."
I followed the instructions here: http://wiki.znc.in/Compiling_modules

It worked for the colloquy module that I've used before but compiling the palaver module gives me this error.

I'm still a newb with Linux so if you can give some clear directions, it'd be appreciated. Thanks.

error:

[code]

Ubuntu 12.04.2 LTS
ZNC 0.206+deb1

[2013-04-07 15:21] #3 closed, assigned to nobody

[2013-04-12 19:21] fsargent opened #4 "Add setting to allow notifications while connected."
As a user,
I sometimes want to be notified that I've been mentioned while a client is still connected to ZNC,
so that I can leave my connection open, and still get notified.

[2013-05-14 20:53] praseodym opened #5 "Segfault after disconnect"
The Palaver extension sometimes segfaults (taking the entire znc process with it); it looks like this occurs shortly after a Palaver client disconnects.

Unfortunately I cannot provide a stack trace, but these lines appeared in my dmesg for two distinct crashes:

[code]

[2013-06-01 15:53] kylef opened #6 "Match on word-boundaries for nick mentions"

[2013-06-01 15:53] kylef opened #7 "Notifications should strip color codes"

[2013-06-04 17:10] #5 closed, assigned to kylef

[2013-06-05 12:49] klyonrad opened #8 "Make Push notifications without chat text an option"
Feature request
could be a "security" feature; since as far as I understand, push notifications are sent unencrypted. Some people might dislike that

(sorry if this here isn't the right place for feature requests)

[2013-06-06 11:29] #8 closed, assigned to nobody

[2013-07-01 19:29] #1 closed, assigned to nobody

[2013-07-19 17:04] kylef opened #9 "Store the Palaver network ID and send it to the API so the client can open the correct query"

[2013-08-18 06:55] pencil opened #11 "Support ZNC 0.206"
As Debian still ships with ZNC 0.206 (http://packages.debian.org/stable/znc) it would be great to have znc-palaver for this particular version.

[2013-08-30 00:23] PoohBearIRC opened #12 "Push notifications are being received for other users on the same ZNC network"
I keep receiving random push notifications not intended for myself, but for other users on the same ZNC network. To my knowledge, no one else on the network uses this module, or Palaver in general.

[2013-08-30 13:23] #12 closed, assigned to nobody

[2013-11-11 09:31] kylef opened #13 "Support proxies"
- [ ] HTTP Proxy
- [ ] Socks 4
- [ ] Socks 5(a)

[2013-11-27 10:00] #7 closed, assigned to kylef

[2014-12-13 21:30] #11 closed, assigned to nobody

[2014-12-23 22:03] #6 closed, assigned to kylef

[2015-01-09 15:50] dewey opened #17 "Build warnings on znc-buildmod"
Hello,

I'm running znc 1.4 and just cloned the `znc-palaver` repository. There are some warnings on the build process. Is this alright or something that should be fixed?

[code]

[2015-01-09 16:20] kylef commented on #17
These are not a problem. These are used to organise the code. You can use `make` as used in the installation instructions in the [README](https://github.com/cocodelabs/znc-palaver#compiling) instead to suppress these messages.

[2015-01-09 16:20] #17 closed

[2015-01-09 16:21] dewey commented on #17
My bad, thanks for the clarification!

[2015-01-14 21:37] mannibis opened #19 "Upgraded phone, old client ID still being used. Push no longer working"
Hi, I just upgraded from an iPhone 5 to iPhone 6, unloaded and reloaded the ZNC module, but the client ID still remains the same (the old one). test command does not work, and list only shows the old client ID from my iPhone 5. How do I update the client ID for my new iPhone 6. The palaver app is installed and connected to my ZNC server already. Things are working on the app end, just not the ZNC

[2015-01-15 14:32] kylef commented on #19
Hi @mannibis,

I have a feeling this is a bug on iOS where the operating system doesn’t issue a new push notification token to applications when the old one becomes invalid (due to a restore).

Could you try going to the system settings on your iOS device, and then scrolling into “Palaver”. Then going into “Notifications” then toggle “Allow Notifications” off, and back on. Once you launch Palaver

[2015-01-15 14:36] mannibis commented on #19
Hey kylef. Thanks for your response...after a bunch of stuff that I tried (including removing ~/.znc/moddata/palaver.conf), I eventually did exactly what you said (Notifications > Palaver > ON and OFF) and did /msg *palaver list,and lo and behold both tokens showed up. Can't seem to get rid of the first, but push is working again (tho it sends to both). I did exactly what you said, but on a whim.

[2015-01-15 14:42] mannibis commented on #19
Just unloaded, reloaded the mod, re-signed in with the app and the .conf was rebuilt and only 1 token appears now. All is well again. :)

[2015-01-15 14:58] kylef commented on #19
@mannibis Glad you managed to sort it out.

Yes, it's not a problem if the old token shows up, eventually the ZNC module will learn that it's expired and it will be removed automatically.

[2015-01-15 14:58] #19 closed

[2015-02-18 16:19] MarcusHogue opened #20 "Support ZNC 1.6.0"
I'm trying to compile the module on OS X for ZNC 1.6 and getting the following errors with it failing to compile:
[code]

[2015-02-28 14:47] kylef commented on #20
Hi @MarcusHogue,

Thanks for reporting, this seems like a bug in ZNC itself. I'm going to try hunt it down and fix it.

[2015-03-15 22:03] delica opened #21 "Devices refuse to register"
I lost push notifications on Wednesday 11th March. In my attempt to fix this I have reinstalled the app on my devices, recompiled the module (first for ZNC 1.0, then after upgrading to ZNC 1.6), tried the Notifications On/Off thing in Settings.app, all to no avail. Whatever I do, the devices refuse to register with the module, and I get the following response from within Palaver.app itself:

There

[2015-03-16 00:56] emagaliff commented on #21
Having the same issue. See IRC log for details: http://pastebin.com/KRNgaEVt

[2015-03-16 11:02] glyph commented on #21
Same issue here as well.  Unlucky that this was my first time trying to get palaver to do this, I was tearing my hair out trying to figure out how I'd misconfigured the module.

[2015-03-16 15:09] kylef commented on #21
Hi all, sorry about this. Not entirely sure what happened, various push notification certificates were revoked and I had to rebuild them.

Push notifications should work now, please let me know if you are facing any other issues.

Regards

[2015-03-16 18:28] glyph commented on #21
@kylef - `/msg *palaver list` still tells me "There are no devices registered with this server. You are not connected from a Palaver client."  I disconnected and reconnected.  Is there anything else I need to do with the client to tell it to identify itself to the server with the appropriate capability?

[2015-03-16 18:31] glyph commented on #21
Right now, I am on ZNC 1.6, running in a Docker image based on Ubuntu Vivid, but before @kylef's update I was running ZNC 1.2, then 1.4, with the same behavior, upgrading trying to fix it :).

[2015-03-17 01:36] delica commented on #21
Thank you, @kylef, but devices are still refusing to register, neither an iPhone 5 or an iPhone 6, both on iOS8. I have tried again reinstalling the app, and reinstalling the module, notification on/off/on, but nothing is persuading the app to register with the module.

[2015-03-17 03:38] glyph commented on #21
The thing that ended up fixing it for me was disabling and then re-enabling notifications in the Settings app.  Moments after doing so, without even reconnecting, it identified my client as Palaver.

[2015-03-25 09:38] delica commented on #21
Well, no matter what I do I can't get any devices to register. I am pretty much at a loss.

[2015-04-10 09:22] lvialle commented on #20
In order to compile, you need to edit ZNCString.h from your ZNC installation and change le lines 85-86 to:
	static const CaseSensitivity CaseSensitive = CaseSensitive;
	static const CaseSensitivity CaseInsensitive = CaseInsensitive;

[2015-04-12 02:30] jswagner opened #22 "Failing to build on Fedora"
Having some difficulty building the module on Fedora 21, not sure if this is related to Issue #20, or if I'm just missing some dependency.

--
{standard input}: Assembler messages:
{standard input}:477665: Warning: end of file not at end of a line; newline inserted
{standard input}:479177: Error: unknown pseudo-op: `.ul'
g++: internal compiler error: Killed (program cc1plus)
Please submit a full b

[2015-04-16 18:23] prenetic opened #23 "Failure to compile under Ubuntu 14.04.2 LTS"
Upon updating to ZNC 1.6.0 I observed the Palaver module was preventing ZNC from starting (oops!). Removed the module temporarily and began pulling the latest to compile and install. Using the latest ZNC package from the teward/znc PPA. Unable to compile.

[code]

[2015-04-16 18:29] z0rc commented on #23
This is due to znc-dev from PPA still missing the libicu-dev in dependencies list. Just do `apt-get install libicu-dev`, the module should compile afterwards.

cc @teward

[2015-04-16 18:37] teward commented on #23
@z0rc ACK on the needed dep - I'll have to forward this to Debian as well as it's Patrick Matthai's packaging in use in the PPA as well.

[2015-04-16 18:41] prenetic commented on #23
Totally worked. Thanks all.

[2015-04-16 18:44] teward commented on #23
There's a bug on this now on Launchpad, where I track bugs in the PPAs I maintain for the public.  https://bugs.launchpad.net/teward-ppas/+bug/1445163 is the bug.  Comments are welcome there, but I'll get to it as soon as I can.

[2015-04-16 22:16] kylef commented on #23
I'm going to close this issue because it's a distro problem and not a problem with this module.

[2015-04-16 22:16] #23 closed

[2015-07-23 20:25] bradleysepos commented on #20
cocodelabs/znc-palaver@f159c78 (latest) and znc/znc@f47e846 (1.6.0) appear to build without modifications on OS X 10.10.4 / Xcode 6.4. Suggest closing this issue.

[2015-07-23 22:15] kylef commented on #20
Thanks @bradleysepos

[2015-07-23 22:15] #20 closed

[2015-08-03 15:51] kylef commented on #22
@jswagner Which instructions did you follow to try and build the module?

[2015-08-26 10:41] TiiRex9 commented on #21
I still have the same problem. Currently I'm running the lates iOS 9 beta. But I'm pretty sure, that this problem was there before. Also the latest Palaver iOS App and I just updated to the latest ZNC 1.6.1 Version and compiled the latest znc-palaver module. But sadly my devices won't register to the module. I still have three old devices in the list. I use an iPhone 6.

[2015-09-04 03:57] kylef commented on #22
Closing due to inactivity.

[2015-09-04 03:57] #22 closed

[2015-09-04 04:07] #9 closed

[2015-09-20 15:28] bizmurr opened #27 "Add support for new channel message notifications"
It would be great if this had the option to send notifications on any new messages in a specific channel.

[2015-09-20 16:40] bizmurr commented on #21
Getting the same thing as well on iOS 9, will this be fixed in 2.2?

[2015-09-20 17:11] kylef commented on #27
Thanks for the request @bizmurr, this has actually already been added to Palaver 2.2 which should be out soon.

<img src="https://cloud.githubusercontent.com/assets/44164/9981924/cc22718e-5f7f-11e5-9df2-97589f757ccd.PNG" width=375 height=667 alt="Palaver Channel Settings" />

[2015-09-20 17:11] #27 closed

[2015-09-20 17:12] kylef commented on #21
@bizmurr, This should be fixed in Palaver 2.2.

[2015-09-24 19:51] kylef commented on #21
Palaver 2.2 is now out, please sends us a support email (support@palaverapp.com) if you're still having difficulties with Palaver 2.2.

[2015-09-24 19:51] #21 closed

[2015-09-26 04:38] FryDay opened #28 "Not working in 2.2?"
This module seems to be having issues with Palaver 2.2. The client never seems to receive push notifications. My same ZNC installation was working fine pre 2.2.

[2015-09-26 16:18] kylef commented on #28
@FryDay Can you include a bit of information:

- Version of ZNC
- Version of the module
- Is the client registered with ZNC (/msg *palaver info) from the client

[2015-09-26 16:32] FryDay commented on #28
ZNC 1.6.1

Latest version of the module from git. (I am also using clientaway and verified that my nick is away before testing).

Info: Palaver ZNC: d0a8db1
Current device: (long string of characters)
2 registered devices (my wife and I both use it).

Let me know if you need anything else.

[2015-09-26 16:49] kylef commented on #28
@FryDay Does the following send you a push notification.

From a different client while Palaver is not connected and in the background:

[code]

[2015-09-26 17:08] FryDay commented on #28
It does not. It says "Notification sent to 1 clients." but nothing is received.

[2015-09-27 17:38] bizmurr commented on #4
This would be fantastic, rather than expecting all clients to be disconnected/away maybe it should be all palaver clients?

[2015-09-27 17:52] kylef commented on #4
@bizmurr The whole idea is that while you're at your computer on IRC, Palaver won't send you push notifications.

Ideally, you would use the [clientaway](http://wiki.znc.in/Clientaway) module and configure your client to auto-away when you're not there. That way, while your on IRC you will not receive notifications elsewhere, and when you leave your computer or disconnect from IRC, you will start

[2015-09-28 23:01] emagaliff commented on #28
@kylef Same issue as @FryDay

Was not working before 2.2  update either

[2015-09-28 23:24] kylef commented on #28
@emagaliff Can you make sure that you have the latest version of the module and show the output of `/msg *palaver info`.

@FryDay Can you try going into "iOS setting app -> Palaver > Notifications" and toggle "Allow Notifications off and on and then go back into Palaver. See if this solves your problem.

[2015-09-29 01:53] kylef opened #29 "Test/info command should show if you're running outdated version"

[2015-09-29 13:52] FryDay commented on #28
@kylef Didn't work.

[2015-09-29 19:00] FryDay commented on #28
@kylef Found something that might be relevent. On the wiki, it says:
Notifications will only be sent if all your clients are disconnected, or marked as away.

If I run a list right now, I see this:

*palaver> +==========================================+===============+==========+=============+
<*palaver> | Device                                   | User          | Network  | Negotiating |
<*palave

[2015-09-29 20:28] aarondunlap commented on #28
@FryDay the test should still send a push notification to palaver even if you're not marked as away.  Just tested this on my iPhone 6 with znc 1.7.x

[2015-09-29 21:23] FryDay commented on #28
@aarondunlap And your push notifications are working as well? I feel like I shouldn't have two separate users with identical device numbers. It doesn't appear like there is a way to unregister a device, though.

[2015-09-30 06:29] MooBaloo opened #30 "Plugin doesn't work when nick contains special characters"
When using this plugin and a nick that contains certain special characters such as [ and ], the push notification will fail to trigger when the nick is mentioned in a chat room. I suspect the characters would need to be escaped somewhere in the code.

The PMs and other keywords manually configured in the app still come through, though.

[2015-09-30 15:15] emagaliff commented on #28
@kylef Just rebuilt the module from the latest github source. Output:

`[11:14:13]  <*palaver>	Palaver ZNC: unknown -- http://palaverapp.com/
[11:14:13]  <*palaver>	1 registered devices
[11:14:13]  <*status>	ZNC 1.6.1 - http://znc.in
[11:14:13]  <*status>	IPv6: yes, SSL: yes, DNS: threads, charset: yes`

[2015-09-30 15:34] kylef commented on #28
Hi everyone. This thread is a bit hard to follow with three people latching on with separate problems.

Can anyone who is still having problems move to email (support@palaverapp.com) or hit me up on Freenode (kylef).

### Steps to confirm

- [ ] You are running the latest version of Palaver module (Palaver ZNC: d0a8db1 or 1.0.0). Note if you upgraded by unloading the old module and loading the new

[2015-09-30 16:19] kylef commented on #30
@MooBaloo This should work in the latest version of the module (1.0.1), can you update and try again please.

[2015-09-30 17:04] kylef commented on #28
I've also added some other reasons for failings inside the [README](https://github.com/cocodelabs/znc-palaver#common-reasons).

[2015-09-30 17:46] #29 closed

[2015-09-30 19:17] MooBaloo commented on #30
Still doesn't work. I can get notifications when I use a nick like Test-123, but not when I use Test[123].

[2015-09-30 23:11] #30 closed

[2015-09-30 23:11] kylef commented on #30
Alright, I've figured out the problem @MooBaloo. The module does word-boundary matching so that if you nick was `Carl` it would match for `Carl` and `Carl's` and `Carl:` but it wouldn't match `Carlos` which contains `Carl` since there isn't a "word-boundary". Unfortunately your nick, containing a square bracket `[` `]` contains a word boundary itself.

I've pushed an update to the module to disabl

[2015-10-01 04:24] MooBaloo commented on #30
Good stuff. Everything works perfect now. Thanks!

[2015-10-03 16:39] #28 closed

[2015-10-14 14:06] bastianh opened #31 "znc crashing"
Hi,
when I'm using the znc-palaver plugin znc is crashing short after the last client disconnected with message:

[code]

the backtrace:

[code]

I have tried znc 1.6.1 and current github master.

[2015-10-14 15:32] kylef commented on #31
Hi @bastianh, sorry to hear about this problem.

Firstly, I've made changes in 1735071f3d6b2ae905caf7842df777a36096851c to prevent the crash and instead the message including the regex used and the underlying error code.

Would you be able to pull down these changes and run `znc --debug` and see what message you get when receiving a message?

Regards,

Kyle

[2015-10-14 15:51] bastianh commented on #31
sure .. I only got the crash about once a day but I'll keep it running with debug enabled and check the log

[2015-10-14 17:41] bastianh commented on #31
I found something in the logs
[code]
I guess it's because this irc server uses/allows `[` and `]` in the nickname?

[2015-10-14 18:10] kylef commented on #31
@bastianh These should be escaped correctly but looks like they're not. Could you let me know what your IRC nickname is, and which keywords you have configured for mentions in Palaver. One of them looks something like `Leebe.[2BAD].` from this error message.

[2015-10-14 18:53] bastianh commented on #31
the nick is `Leebe[2BAD_]`. it's assigned from the server based on the usergroup in that community.
I have not configured any additional keywords.
Thanks for your help.

[2015-11-01 16:44] omnicons commented on #4
Well yes, but see here is that there's plenty of people who'd like to be notified regardless. Colloquy has no problem adding an extra setting for this with its ZNC module. A little extra configuration would be nice that way users can have it work tailored to their workflow with IRC rather than needing all to conform to how you'd like to see it be done. Everyone uses ZNC a little differently and th

[2015-11-02 14:11] praseodym opened #32 "Push notifications for server notices"
After updating the plugin I get push notifications for server notices, is there any way to disable this behaviour?

[2015-11-11 18:16] farcaller commented on #4
+1 to this. In a perfect world I'd prefer this to be configurable by something like `/msg *palaver always/auto/never`.

[2015-11-11 18:18] OstlerDev commented on #4
+1 :+1:

[2015-12-07 01:21] kaishin opened #33 "Unable to build due ZNC version mismatch"
Hi, I was running palaver with ZNC 1.4 but after I updated to 1.6.2 I am no longer able to build Palaver.

[code]

Any idea why is Palaver trying to build against 1.4?

[2015-12-07 01:52] kaishin commented on #33
Just realized that my `znc-buildmod` was outdated but even after updating it I am getting that error.

[code]

[2015-12-07 08:17] jswagner opened #34 "Build failure on Fedora 23"
Setting up a new server based on Fedora 23, trying to build the module as directed and running into problems.

I have the 'Development Tools' group, as well as these supplemental packages installed:
`znc-devel gcc-c++ rpm-build libicu-devel`

Here's the output:
[code]

[2015-12-07 10:34] kaishin commented on #33
OS: `debian stretch/sid`
[code]
znc-palaver: `1.0.1`

I used `apt-get` to install ZNC, but had compiled it from source before upgrading form 1.4.

[2015-12-07 11:24] kylef commented on #33
@kaishin Is ZNC 1.4 still installed? Perhaps it's in `PATH`.

Do you have the Debian `znc-dev` package installed?

[2015-12-07 12:09] kaishin commented on #33
@kylef Sorry for opening the issue before doing my homework and thanks for replying!

It seems like 1.4 was not completely uninstalled which caused the issue. Running `make uninstall` on ZNC and reinstalling solved the problem.

[2015-12-07 12:09] #33 closed

[2015-12-07 12:20] kylef commented on #33
Perfect, glad you managed to figure it out @kaishin.

[2015-12-07 12:46] kaishin commented on #33
@kylef Seems like I celebrated too early. Now when I load palaver in znc it crashes. When I run `znc` in the command line I get:
[code]
Any idea what this could be related to? Any way I can debug or provide more data?

[2015-12-07 12:47] kaishin commented on #33
When I remove `palaver.so` from `/modules` ZNC starts normally.

[2015-12-07 13:17] kaishin commented on #33
Gah, I got fed up with this so I dropped the distro package version and installed ZNC from source and that solved the issue.

[2015-12-08 09:42] jswagner commented on #34
I just started over completely from scratch.  Full repro steps:

* Brand new Fedora 23 x64 instance on DigitalOcean
* dnf group install 'Development Tools'
* dnf group install znc znc-devel
* dnf -y install git gcc-c++ rpm-build libicu-devel
* git clone https://github.com/cocodelabs/znc-palaver.git
* cd znc-palaver
* make

[2015-12-09 04:53] jswagner commented on #34
I downloaded the Fedora 23 Server ISO image and installed a clean VM on my local libvirt instance.  The build succeeded.  So, I suppose I need help narrowing down what's different about DigitalOcean's Fedora images.

[2015-12-09 11:18] kylef commented on #34
Hi @jswagner, sorry to hear your having problems installing the module. The error makes it seem like there is a compiler bug, if you didn't solve this already, I'd suggest trying to use clang++ instead of gcc-c++ as the compiler and see if that helps.

-Kyle

[2015-12-21 08:20] jswagner commented on #34
Sorry for the delay, I'll try to revisit this in a few days.

[2016-01-03 05:32] jswagner commented on #34
I forced clang++:

```export CXX=/usr/bin/clang++)```

And that seemed to work, but I did get a warning at build time that I didn't get on other systems:

[code]

[2016-01-05 12:23] kylef commented on #34
@jswagner Curious, how much available memory do you have when building with GCC? It might be that GCC runs out of memory and then internally errors. Clang is likely better at handling low-memory situations.

[2016-01-05 15:28] jswagner commented on #34
@kylef I'm using DigitalOcean's smallest instance, which has 512MB of RAM.  Again, each of these tests is a clean instance, there's no other major processes running besides SSH and whatever else Fedora is starting up with.

[2016-01-15 21:39] ForumFerret opened #35 "Build Failure, OS X 10.11.2"
Getting an error during build as follows:

-------

<prompt>$ make
Building "palaver.so" for ZNC 1.0... In file included from palaver.cpp:15:
In file included from /usr/local/Cellar/znc/1.0/include/znc/Modules.h:13:
In file included from /usr/local/Cellar/znc/1.0/include/znc/WebModules.h:13:
In file included from /usr/local/Cellar/znc/1.0/include/znc/Template.h:13:
/usr/local/Cellar/znc/1.0/includ

[2016-01-15 22:01] kylef commented on #35
This seems to be a problem with your ZNC install / openssl. The error is coming from the ZNC header `znc/Utils.h` referencing `openssl/blowfish.h`. Did you remove `openssl` after you built ZNC?

[2016-01-15 22:24] ForumFerret commented on #35
Not intentionally!

Could it be fixed by going into my znc directory and doing git clone again?
On Fri, Jan 15, 2016 at 17:01 Kyle Fuller <notifications@github.com> wrote:

[2016-02-27 23:29] miedzinski commented on #34
I have pretty much the same results with Debian Jessie. This is all I get

[code]

clang++ fails as well.

Luckily, I've found the problem. I'm running it on DigitalOcean (with 512 mb of ram) like @jswagner and ram usage is way too high. Temporarily creating swapfile solved the issue.

[2016-03-22 16:06] pdostal opened #36 "Build failure, FreeBSD 10.2"
Hello

I'd like to use Palaver, but I run ZNC on FreeBSD machine and I got this output from ```make```.

[code]

Can you please help me?

[2016-03-22 20:24] kylef commented on #36
Sorry about this, I've fixed an issue with FreeBSD compatibility in 482bcf07804a7745a08cd799d997bdebc9e8bd36. Could you give this a try again please.

[2016-03-22 20:32] pdostal commented on #36
That's awesome, I just went for a beer and you fixed it for me! :smile:
[code]

[2016-03-22 20:33] #36 closed

[2016-04-30 16:28] napcs opened #37 "regex error on username bphogan"
ZNC version: 1.6.3

Palaver bouncer version: master (https://github.com/cocodelabs/znc-palaver/commit/5158caf09ab08eb5244b86fbcc37db8a33ea99d2)

When anyone mentions my username in my channel using Colloquy, KiwiIRC (web client) or official Freenode web client, the highlighting fails:

[code]

Test messages make it to the device with no issues. Private messages make it just fine. All clients are a

[2016-05-01 14:23] napcs commented on #37
Update - solved it on my end.

Had to update GCC to 4.9 and recompile. 4.8 doesn't have great support for regex.

[2016-05-01 14:23] #37 closed

[2016-06-15 00:03] kylef commented on #35
I'd try rebuilding ZNC and then trying to build the module again.

[2016-06-15 00:04] kylef commented on #34
Yes, building ZNC/ZNC modules will require some memory. Seems all the problems here are related to memory issues.

If anyone is still experiencing any problems please let us know.

[2016-06-15 00:04] #34 closed

[2016-06-15 00:12] kylef commented on #31
Looks like older versions of GCC have some significant problems with regex. GCC 4.9 or later should solve most regex related problems. According to the GCC 4.9 release notes (https://gcc.gnu.org/gcc-4.9/changes.html).

I think you'll need to upgrade to a more modern compiler and rebuild ZNC, and the module with it.

[2016-06-15 17:09] kylef commented on #31
I've added checks for when you build the module and mentioned this in the README now (https://github.com/cocodelabs/znc-palaver/commit/e9b61749e7d84c3672d7eba53eb94a0788c28d1d).

[2016-06-15 17:09] #31 closed

[2016-07-06 13:24] #35 closed

[2016-07-06 13:25] kylef commented on #32
I've made an update to the module to exclude NOTICEs from being sent as push notifications for connection information before you're fully authenticated (https://github.com/cocodelabs/znc-palaver/pull/40).

We will add options to a future version of Palaver to control NOTICEs.

If other NOTICEs are still a problem after the above change for you right now, I'd suggest just commenting out / deleting

[2016-09-10 23:44] dannymichel opened #42 "Notifications for All Messages in a Channel"
Is this possible?
If not, I suppose this is a feature suggestion.

[2016-09-11 11:03] kylef commented on #42
Hi @dannymichel. Yes it is possible. In the Palaver app, tap the channel name and then you can select "All Messages" in the notification settings.

[2016-09-11 11:03] #42 closed

[2016-10-18 14:52] btaroli opened #43 "gcc 4.9.2 still giving regex build error"
Running this on a NAS for which an update rolled out recently with a major upgrade to Debian 8. It now has gcc 4.9.2 but this package still refuses to build with the regex test failure. Is gcc the issue or could it be a related library?

[code]

[2016-11-17 01:22] p-vg commented on #43
Having this same issue..

[2016-11-23 18:53] btaroli commented on #43
That "worked", but I do wonder whether we'll trip over regex issues. Time will tell. I'm sure the test is there for a good reason. :) Just not sure why all gcc 4.9.2 are not equal. ;)

[2016-11-23 22:08] kylef commented on #43
Hi @btaroli and @p-vg, sorry for delay in getting back to you.

I may have been incorrect when I wrote in the instructions that GCC 4.9 or newer required, during some of my testing I found that some version of GCC 4.9 was working correctly and 4.8 wasn't so I assumed GCC 4.9 was the minimum version of GCC that would work with the module. It might well be that GCC 4.9.1, 4.9.2, 4.9.3 or 4.9.4 actua

[2016-12-07 02:28] apage43 commented on #13
HTTP `CONNECT` isn't too difficult. I don't know the ZNC API too well, but here's what I did as an ugly hack to get it working: https://gist.github.com/apage43/271f82d3317b4dfcfebd04a3cc8647f2

[2017-01-22 01:31] ruok5 commented on #43
Just in case it helps someone else, running `make clean` won't remove the non-passing `test-regex` binary that was compiled with an older GCC, it it may seem as though the new version you've installed *still* doesn't work. Once I removed it, I could compile the module.

[2017-03-18 00:52] xHarv14 commented on #13
Is there any planned support for integrating this soon? I'd love to use this module, but one of the requirements is that I need to be able to configure my own proxy.

[2017-03-20 14:10] jhed9 opened #45 "Not Receiving Notifications - Push Received HTTP Response code: 500"
I stopped receiving push notifications recently. Running znc in debug mode shows error "Push Received HTTP Response code: 500". Full debug log shown below.

I first noticed the problem last week after installing znc 1.6.5 and recompiling the znc-palaver module. znc 1.6.5 was recently released. So in troubleshooting, I reverted back to znc 1.6.4 and recompiled znc-palaver, but the problem persisted

[2017-03-20 16:36] kylef commented on #45
Hi @jhed9,

This was definitely a problem on our API which should be solved now. Could you please try receiving a push notification again and confirm it is now working for you.

Regards,

Kyle

[2017-03-20 16:56] jhed9 commented on #45
@kylef,

It is indeed working for me again. Thank you for the swift resolution. 😊

[2017-03-20 16:56] #45 closed

[2017-03-24 13:58] kylef commented on #43
I've updated `make clean` in 6ee20dc299eec02f674de73744f3d821bc6716b5 to include test-regex to solve this problem.

[2017-03-24 13:58] #43 closed

[2017-06-29 15:37] arielelkin opened #46 "Docker image"
Would it be possible to have a Docker image for ZNC Palaver?

[2017-06-29 15:41] kylef commented on #46
@arielelkin There is already one available on Docker Hub: https://hub.docker.com/r/palaver/znc-palaver/

There are some usage instructions at: https://gist.github.com/kylef/cf3b41f7771732d8f159312a2e28d6c0

It's kinda "use at your own risk" and no support given though. Would only recommend using it if you really know how to use Docker.

[2017-07-02 07:09] kbembedded opened #47 "Not receiving push notifications"
Working with a setup that used to be working, a lot of strange things going on.  Push notifications have been broken with this setup for a while (went unnoticed), but it did previously function.

Platform:
FreeBSD 11.0-RELEASE-p9

ZNC:
1.6.5

Palaver iOS:
2.6.0

Palaver plug-in:
1.1.0

Odd things I see:
/msg *palaver info (No version output where there should be):
23:52 <*palaver> Please contact s

[2017-07-10 17:36] FryDay commented on #47
I am experiencing the same issue with an identical setup, except I'm on FreeBSD 10.3.

[2017-07-20 19:04] iamDecode commented on #47
Our servers experienced some issues, which caused some downtime. Sorry for the inconvenience! Remote notifications should be back up and running now :)

[2017-07-20 19:04] #47 closed

[2017-07-21 06:29] cdewoozy commented on #47
It was working after you posted your comment, but now it's broken again.

[2017-07-24 16:44] kbembedded opened #48 "Push notifications again not working"
I cant reopen a closed issues, so I thought I would make more noise.  Push notifications are not working again.  See #47.

[2017-12-07 18:03] kylef commented on #48
Hi @kbembeddedb sorry I did not see this sooner. I assume that the problem has been solved by then?

In future, you are usually better off emailing us at our support channel (support@palaverapp.com), this creates a ticket in our system and easier to track so it doesn't get forgotten.

Regards,

Kyle

[2017-12-09 23:35] kbembedded commented on #48
Yes, it appears to be working now.

[2017-12-09 23:35] #48 closed

[2017-12-30 18:20] jq1106 opened #50 "Won't build?"
Anyone?

[code]

[2018-01-24 21:37] danzmo opened #51 "unable to compile the package"
When trying to "Make" the package I continue to get [test] Error

[code]

I have looked at older postings saying to upgrade GCC I have upgraded to GCC 6 and still am not able to get past this step.

[code]
Any help with moving on from here would be appreciated.

[2018-01-24 22:36] kylef commented on #51
If you've upgraded the compiler, you may need to run `make clean` before running `make` again. Otherwise some caches built from previous GCC version may still be there. Does that allow you to build?

[2018-01-24 22:52] danzmo commented on #51
Thanks, make clean did clear the
[code]
However, a new error is now produced
[code]

[2018-01-29 06:27] glyph opened #52 "Makefile now incorrectly selects C compiler"
This commit https://github.com/cocodelabs/znc-palaver/commit/1a4818786e9abb5cf94cf722383104264824cd43 switches to "CC", which is the standard Makefile variable for the *C* compiler, as opposed to "CXX" which is the standard variable for the C++ compiler.

[2018-01-29 09:39] #52 closed

[2018-01-29 12:28] kylef commented on #51
@danzmo This should be solved in https://github.com/cocodelabs/znc-palaver/commit/41ca67469b2beb3b7ad0bf0b77de9279fa921814, could you pull these changes and give it another go?

[2018-01-29 21:05] danzmo commented on #51
I've updated the Makefile to what was in [41ca674](https://github.com/cocodelabs/znc-palaver/blob/41ca67469b2beb3b7ad0bf0b77de9279fa921814/Makefile). I again tried to make and got the following error:
[code]
I've verified that I have g++ and the build-essential is updated and installed. I thought it may have been permission's and I gave the entire directory "znc-palaver-master" 755.

Any other sug

[2018-01-30 11:55] kylef commented on #51
Could you please confirm what the following returns in the same shell you are using to build inc-palaver:

[code]

[2018-01-30 17:31] danzmo commented on #51
The G++ was still using version 4, got it updated to version 6
`gcc version 6.3.0 20170519 (Ubuntu/Linaro 6.3.0-18ubuntu2~14.04)`
I was able to `make` and compile the .so file and palaver.so is located in the modules directory:
[code]
I tried to loadmod and have produced the following error:
[code]
The Lib is available:
[code]

[2018-01-30 23:02] kylef commented on #51
This sounds like ZNC was built with a different libstdc++ than the one used for znc-palaver. Could this be the case? I think these will need to match.

[2018-02-19 05:48] glyph commented on #52
Thanks!

[2018-06-16 13:29] #50 closed

[2018-10-04 13:42] #51 closed

[2019-07-02 00:27] 115100 commented on #4
https://github.com/115100/znc-palaver/commit/a0527e75996b663ba46167a084dbcd17229998ff

This should work.

[2019-07-15 16:54] subsevenx2001 opened #57 "Only receive push notification when Palaver app is online"
Hello,

I have set up ZNC server and palaver plugin. I expect that I can receive push notifications  when I'm away or disconnected. However, it seems that I cannot receive push notifications from the module. I've tried znc --debug, and the push module does send message with status code 202 according to debug logs. And I also tried /msg *palaver list and it does show my iphone.

Is there any other

[2019-07-18 21:02] iamDecode commented on #57
Push notifications are *only* showed if you are offline; the notifications that you are seeing are probably local notifications instead. We are not currently experiencing any issues with the push service, so I am not quite sure what might cause this. You could try toggling push notifications off and on again in the settings. This will refresh your push tokens and perhaps resolve the issue. If this

[2019-07-18 22:17] kylef commented on #57
@subsevenx2001 if you can share the output of `/msg *palaver list` to us via email (support@palaverapp.com) that would let us debug this further.

[2019-07-18 23:37] kylef opened #58 "Informing ZNC admin(s) when there is a connectivity problem with Palaver API"
IPv6 configuration, missing CA bundles can be a source of problems of connectivity to the Palaver API (and others). We should make these errors more discoverable, perhaps informing a ZNC admin of the problem or the respective user. Need to be weary to 1) not spam the user (i-e, 100 messages that notification couldn't be sent in short period) and 2) not leak any internal details of the setup the th

[2019-07-22 09:31] subsevenx2001 commented on #57
Hello, sorry for late reply.
I have sent an email to support@palaverapp.com describing my situation and my device token.
Please let me know if more information is needed and thank you for help :)

[2019-07-25 03:48] #57 closed

[2019-10-24 14:53] dongcarl opened #61 "feature: QR Code-based pairing"
I'd like to see a way to pair ZNC with Palaver thru some kind of QR code format, as the form-filling can be tedious and error-prone. I'd be happy to contribute something like this, but was wondering if this feature would belong in this codebase or in a separate one. Of course it would require client-side support, but I hope that cocodelabs would think the UX benefit be worth while! :relaxed:

[2019-10-25 18:03] iamDecode commented on #61
Hey @dongcarl, thanks for your enthusiasm! :) We are already working on features to make the ZNC setup process easier. This feature should land within the next couple of releases. QR pairing for ZNC might be a nice addition to that, but that is not quite specific to Palaver. Perhaps you could start with ZNC and see if you can convince/help them to add some sort of pairing QR code in the web admin.

[2019-10-26 01:34] dongcarl commented on #61
@iamDecode Oh that makes a lot of sense, I'll try writing a ZNC module myself for the QR :-) Can't wait to see what you guys are working on though!

[2019-11-14 22:56] kylef commented on #61
This is somewhat possible already, you can craft a URL such as `ircs://:username%2Fnetwork%3Apassword@irc.example.com` (note `username%2Fnetwork%3Apassword` is URL encoded `username/network:password` since some characters must be escaped).

![Screenshot 2019-11-14 at 22 53 56](https://user-images.githubusercontent.com/44164/68902989-a61e0a80-0731-11ea-9391-06f5a3654a96.png)

You can scan the pictu

[2019-12-09 19:42] dongcarl opened #62 "Change to user/network module"
I wonder how hard it would be to change this to a user module or even a network module instead of a global module? It would be nice to have granular control over what users/networks the palaver module sends notifications for.

I tried changing the `GLOBALMODULEDEFS` to `USERMODULEDEFS` and `NETWORKMODULEDEFS`, and they seemed to compile fine, but I suspect there's more to it than just changing the

[2019-12-09 20:07] kylef commented on #62
Hi @dongcarl,

You’ll only receive notifications to the user/network combinations that you connect to from Palaver, for example if you don’t connect to the `johndoe_weechat` from Palaver then you won’t receive push notifications to a Palaver device. You need to connect and authenticate as a user to get notifications for them, you wouldn’t want one user seeing notifications for another user, that w

[2020-04-05 13:10] #32 closed

[2020-04-05 13:40] kylef commented on #46
I'm going to close this now, ZNC provides docker images in https://hub.docker.com/_/znc/ which you can use the module in conjunction with. As per ZNC docker instructions, you need to place palaver.cpp from znc-palaver into the modules directory:

[2020-04-05 13:40] #46 closed

[2021-02-12 19:56] SomaticFanatic opened #67 "Error: "make: znc-buildmod: Command not found""
I have installed znc via Debian 10 sudo apt install znc and downloaded most recent repo of ZNC-Palaver. What am I doing wrong?

Thanks

[2021-02-12 19:57] SomaticFanatic commented on #67
failing during `make`

[2021-02-12 20:06] kylef commented on #67
You'll also need to also install the znc-dev package on Debian (https://packages.debian.org/buster/net/znc-dev).

https://wiki.znc.in/Compiling_modules

[2021-02-16 14:10] SomaticFanatic commented on #67
Worked thanks

[2021-03-12 21:55] kontaxis opened #69 "Add setting for redacted notifications"
This is a request for a setting so that notifications don't include anything about the message that triggered them.
Given that notifications travel from the ZNC service to Palaver servers to Apple servers to the client, users may want to obscure the sender, network, and content of a message.

[2021-04-20 01:19] rexbinary commented on #4
I leave multiple computers on all the time connected to znc. It would be nice if I can be notified while connected when I am not at my computers without killing all my irc clients when I leave and then relaunching them when I return.

[2021-05-30 19:17] AntiCompositeNumber commented on #4
I previously used another client with znc notification support that would send notifications when /away was used, without the requirement for clientaway. That seems better to me than requiring [an external module](https://github.com/kylef-archive/znc-contrib/blob/master/clientaway.cpp) that the author [considers deprecated](https://github.com/kylef-archive).

[2021-07-24 23:46] L0wbyte opened #71 "api.palaverapp.com not reachable via ipv6 only (no AAAA records)"
when attempting a push notification test when the host only has a ipv6 bindhost the host can not reach the api server.

[code]

api.palaverapp.com does not appear to have any AAAA records.
only A records.

[code]

https://www.cloudflare.com/ipv6/   indicates

as this api server appears to be cloudflare front ended, would it be possible to have ipv6 presence enabled for the api server?

[2021-07-29 00:57] #62 closed

[2021-08-17 12:23] beren12 commented on #4
I agree, I would love a setting to be able to get notifications always, or if just there are no palaver clients active, or there are no clients at all active. Bonus points if you could have an idle timer, like 1min, 5min, etc so even if palaver is open on my iPad, if I haven't sent a message in the last few mins I'll get a notification.

[2021-08-17 12:24] beren12 commented on #4
Not all clients can auto-away. Sad, but true. I'm looking at you HexChat, LimeChat...

[2021-08-17 12:25] beren12 commented on #69
iOS can do this itself, it'll hide the message contents if the phone is locked if you have that setting on.

[2022-01-24 07:01] grawlinson opened #72 "Module only works if user is admin"
When sending `/msg *status loadmod palaver`, I seem to get an 'Access denied' message.

But if I switch to an admin user, the module loads correctly.

Is this intended behaviour?

[2022-01-24 07:15] grawlinson opened #73 "Tests fail in Python 3.10"
Seems that Python 3.10 has removed the loop argument, judging by the last CircleCI run for znc-palaver:

[code]

`make test-integration` output below:

[code]

[2022-02-22 08:41] kylef commented on #72
Yes. The behaviour is mentioned in https://wiki.znc.in/Modules .

[2022-02-22 08:41] #72 closed

[2022-04-11 08:12] teleanu opened #74 "Unable to load palaver: Unable to open module palaver:"
Any idea how to fix this?
Thank you!

`<*status> Unable to load palaver: Unable to open module palaver: /home/error/.znc/modules/palaver.so: undefined symbol: _ZN5Csock17IcuExtToUCallbackEP23UConverterToUnicodeArgsPKci24UConverterCallbackReasonP10UErrorCode`

[2022-04-11 10:54] kylef commented on #74
From the error, it sounds like the Palaver module was compiled with a different version of ZNC than the version you are loading the module with.

ZNC modules must be compiled with the same version of ZNC. When upgrading ZNC, all modules must be re-built.

[Compiling modules](https://wiki.znc.in/Compiling_modules)

[2022-04-13 08:04] teleanu opened #75 "push not working (ipv6 bindhost)"
How I can make it work using IPv6?
I checked Debugging section of the module, but I was woundering if is possible somehow to make it work with IPv6.
On my VPS the bind host that i'm using it resolves to an IPv6 IP and back to rDNS... the IP to that vhost (error.rs).
The IP 77.81.164.17 is from another hosting provider and is the place where I use the domain error.rs as an website.

Is somehow poss

[2022-05-27 16:37] jmooo commented on #74
Running into this because I use the official docker image of znc, but have to compile this module from source:

[2022-05-28 18:09] kylef commented on #74
@jmooo If you're using the official ZNC container images, copy the palaver.cpp file into the `/znc-data/modules` directory, the container will automatically build it during launch as [per the ZNC documentation](https://hub.docker.com/_/znc/):

[2022-05-28 18:09] #74 closed

[2022-05-29 03:55] jmooo commented on #74
Well that's how I got it to *build*, strictly, but ZNC is unable to load it via that method still:

so i'm working on hand editing CMake files because ZNC appears to be simple string checking an `1.8.2 != 1.8.x`

[2022-11-07 18:52] Tahtk3v opened #76 "Spam"
i'm getting a lot of MyUsername is now know as MyUsername, this is cluttering up my chat from what i can see it isn;t doing anything with the server but it is annoying. how do i lessen it or make it go away

[2022-11-09 09:50] ygguser opened #77 "znc-dev"
Please add a note to the readme that before `make`, you need to install the `znc-dev` package into the system.